/******************************************
FONTS
Sans-serif / serif combination
font-family: 'Noto Serif', serif; 400
font-family: 'Roboto', sans-serif; 700, 400
Pairings, weights and sizes
- Header h1 (title): Roboto, sans-serif; font-size: 56px; font-weight: 700; line-height: 1.3;
- Header h2 (summary): 'Noto serif', serif; font-size: 32px; font-weight: 700; line-height: 1.3;
- Header h3 (byline): Roboto, sans-serif; font-size: 18px; font-weight: 400;
- Body text: 'Noto serif', serif; font-size: 16px; font-weight: 400; line-height: 1.5;
- Blockquotes: Roboto, sans-serif; font-size: 24px; font-weight: inherit; line-height: inherit;
- Figcaptions: Roboto, sans-serif; font-size: inherits; font-weight: inherit; line-height: 1.1;
********************************************/

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: 'Vollkorn', serif; /* font */
  font-size: 16px; /* 16px is the standard font size */
  font-weight: 400;
  line-height: 1.5; /* 1.5 times the size of the font */
}

/******************************************************
*******************************************************
2. Header & Nav styles (specific to header and nav)
*******************************************************
******************************************************/

/* Header */
header {
  background-color: #f2f2f2; /*grey*/
  background-size: cover;
  color: #ffffff;
  font-family: Vollkorn, serif;
  text-align: center;
}

/*header h1 story title*/
.display {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.2;
  padding: 20px 20px 10px 20px;/*Top, right, bottom, left */
}

/*header h2 lead*/
.summary {
  font-size: 24px;
  font-weight: 400;
  line-height: 1.3;
  padding: 0px 20px;/* Top and bottom 0px of padding, right and left 20px of padding*/
  margin: 0px 60px;/* Top and bottom 0px of margin, right and left 60px of margin*/
}

/*header h3 byline*/
#author {
  font-size: 18px;
  font-weight: 400;
  padding-bottom: 40px;/* add 40px of padding space in the bottom of byline*/
}

/*header h3 a byline link*/
#author a {
  color: #ffffff;/*white*/
}


/*header h3 a:hover byline link on hover*/
#author a:hover {
  color: #000000;/*blaxk*/
  text-decoration: underline;
  text-decoration-style: solid;
}


nav {
  text-align: center;
  padding: 10px 0px 10px 0px;
  /* Top, right, bottom, left */
  width: 100%;/*Make navigation 100% width of the viewport*/
  background: rgba(0, 0, 0, 1);}


li {
  display: inline;
  padding: 0px 10px 0px 10px;
}

/*links in nav menu*/
nav ul li a {
  color: #ffffff;/*white*/
  font-family: Vollkorn, serif;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
}

/*links in nav on hover*/
nav ul li a:hover {text-decoration: underline;}


/******************************************************
*******************************************************
3. Main body content
*******************************************************
******************************************************/

article {
  max-width: 700px;/*set the width of the text and other elements inside the article tag*/
  padding: 20px;/*give it padding all around*/
  margin: auto;
}

/* Body headings */


h2 { font-size: 24px; }/*I am using h2 for subtitles*/

/* Image, figure and figcaption styles from general to specific */

figure {
  display: block;
  /* in this way it fills the width of the parent element article */
  margin: 0px;
  /* no margin to avoid extra space around the element */
}

/*give images a max-width of 100%*/
img {
  max-width: 100%;
  height: auto;
  /* adjust the height of image to the max-width */
}

/*figcaption inherits font size from global styles*/
figcaption {
  text-align: center;
  font-family: Vollkorn, serif;
  font-weight: 400;
  line-height: 1.1;
  padding: 2px 2px;
}


.img-wrapper {
  display: flex;
  flex-direction: row; /*align in the same row*/
  justify-content: space-between;
}

.img-wrapper figure {
  width: 100%;
  }

a {
  color: #f2f2f2;/*grey*/
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  text-decoration-color: #ffffff;
}



blockquote {
  border-top: 2px solid #f2f2f2;
  border-bottom: 2px solid #f2f2f2;
  color: #white;
  font-family: Georgia, sans-serif;
  font-size: 42px;
  margin: 30px;
  padding: 30px;
  text-align: center;
}

/* Blockquotes */

blockquote {
  border-top: 2px solid #f2f2f2;/*grey top border line of 6px*/
  border-bottom: 2px solid #f2f2f2;/*grey bottom border line of 2px*/
  color: #white;
  font-family: Roboto, sans-serif;
  font-size: 24px;
  margin: 30px;
  padding: 30px;
  text-align: center;
}



/******************************************************
*******************************************************
4. Footer content
*******************************************************
******************************************************/


footer {
  font-family: Vollkorn, serif;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  padding: 20px 0px 20px 0px; /* Top, right, bottom, left */
  width: 100%;/*Make navigation 100% width of the viewport*/
  /*height: 100px;Give footer 200px of height*/
  background: #000000;/*black*/;
  color: #ffffff;/*white*/
}

/*Footer list of links aligned horizontal*/


/*links in footer*/
footer a {
  color: #ffffff;/*white*/
  text-decoration: none;
  text-transform: uppercase;/*make all links uppercase*/
}

/*links in footer on hover*/
footer a:hover {
  color: #f2f2f2;/*grey*/
  text-decoration: underline;
}


/******************************************************
*******************************************************
6. Mediaqueries
*******************************************************
******************************************************/


@media (max-width: 700px) {
  /* Now after that add some styles that will make the page look better at narrower widths and mobile devices.*/
  li {
    display: block;
    padding: 5px;
  }
  /*navigation links should sit on top of each other rather than inline*/
  nav ul li a/*links in nav menu*/{
    font-size: 12px;
  }
  /*font should be smaller when the browser is small */
  .display/*header h1 story title*/{
    font-size: 36px;
  }
  .summary/*header h2 lead*/{
    font-size: 18px;
    margin: 0 auto;
  }
  .author/*header h3 byline*/{
    font-size: 14px;
  }
  p {
    font-size: 16px;
  }
  figcaption {
    font-size: 14px;
  }
  blockquote {
    font-size: 18px;
  }

  .img-wrapper {
  display: flex;

  justify-content: space-between;
}
  footer ul li {
  display: block;/*align links in footer vertically*/
  padding: 5px;
}

  footer ul li a {
  font-size: 12px;
}

}


/* Global styles */

body {
  background-color: black;
  color: grey;
  font-family: Vollkorn;
  font-size: 18px;
  line-height: 1.5;
}


/* Other styles */



h1 {
  color: black;
  font-size: 64px;
}


h2 {
  color: black;
  text-align: "center";
  font-size: 32px;
}

b {color: hotpink;
text-decoration: line-through;
font-size: 14px;
}



img{max-width: 600px;
max-height: auto;}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
